*{
    padding: 0;
    margin: 0;
   

}


 body{
    background: linear-gradient(45deg, #fff, rgb(123, 160, 168),  rgb(93, 93, 134),rgb(54, 54, 84));
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .calculator {
    margin-top: 100px;
    width: 320px;
    text-align: center;
    border: #e0e0e0 solid 2px;
    padding: 20px;
    background-color: black;
    border-radius: 50px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);


  }
  
  #display {
    margin-top: 60px;
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-align: right;
    padding: 20px;
    margin-bottom: 15px;
    background-color: black;
    border: none;
    color: #fff;
    font-size: 40px;
    outline: none; 
  }


  .buttons button {
    width: 65px;
    height: 65px;
    font-size: 20px;
    margin: 5px;
    background-color: rgb(97, 97, 97);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    font-weight: 700;
  }
  
  .buttons button:hover {
    background-color: #adadad;
    transition: 0.5s ease-in;
  }
  button.zero{
    width: 140px;
    border-radius: 12px;
  }
  button.symbol{
    background-color: rgb(170, 170, 170);
    color: black;
  }


  button.symbol-right{
    
    background-color: rgb(199, 129, 0);
  }
  button.symbol-right:hover {
    background-color: white;
    color: black;
    transition: 0.5s ease-in;
  }
 
  @media screen and (max-width: 1000px) {
  
  }
  

  
  